.alert {
  &-info {
    width: 340px;

    @media (min-width: 411px) {
      width: 400px;
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: 992px) {
      background-color: transparent;
    }

  }
}
